development:
  INSTANCE_NAME: ''
  BASE_URL: ''
  BASE_URL_PORT: ''
  SMTP_SETTING_DOMAIN: ''
  SMTP_SETTING_ADDRESS: ''
  SMTP_SETTING_PORT: ''
  SMTP_SETTING_USERNAME: ''
  SMTP_SETTING_PASSWORD: ''
  MAILER_SENDER: ''
  MAIN_ADMIN: ''
test:
  INSTANCE_NAME: ''
  BASE_URL: ''
  BASE_URL_PORT: ''
  SMTP_SETTING_DOMAIN: ''
  SMTP_SETTING_ADDRESS: ''
  SMTP_SETTING_PORT: ''
  SMTP_SETTING_USERNAME: ''
  SMTP_SETTING_PASSWORD: ''
  MAILER_SENDER: ''
  MAIN_ADMIN: 'test@ciudadanoi.org'
production:
  INSTANCE_NAME: ''
  BASE_URL: ''
  BASE_URL_PORT: ''
  SMTP_SETTING_DOMAIN: ''
  SMTP_SETTING_ADDRESS: ''
  SMTP_SETTING_PORT: ''
  SMTP_SETTING_USERNAME: ''
  SMTP_SETTING_PASSWORD: ''
  MAILER_SENDER: ''
  MAIN_ADMIN: ''
